@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Poppins', sans-serif;
	scroll-behavior: smooth;
}

p
{
	font-weight: 300;
	color: #111;
}
/*body
{
	min-height: 1000px;
}*/
.banner
{
	position: relative;
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url(blood18.jpg);
	background-size: cover;
}
.banner .content
{
	max-width: 900px;
	text-align: center;
}
.banner .content h2
{
	font-size: 4em;
	color: #fff;
	margin-bottom: 30px;
	margin-top: 100px;
}
.banner .content p
{
	font-size: 1em;
	color: #000;
	margin-bottom: 30px;
	font-style: bold;
}
/***********************************************************************************************/
/****************************************Stock_css*********************************************/
/*********************************************************************************************/
.stock {
	background: #fff7f9;
	justify-content: center;
	align-items: center;
}
.container {
	position: relative;
	width: 97%;
	margin: 20px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 25px;
    justify-content: center;
    align-items: center;
}
.group_blood { 
  position: relative;
  background: #fff;
  border: 2px solid #3F0C1F;
  border-radius: 7px;
  overflow: hidden;
  transition: 0.5s;
  width: 100%;
  height: 200px;
  margin: 0 auto 15px;
}
.group_blood img {
	display: block;
	margin: auto;
}
.group_blood span {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.2em;
  padding: 4px;
  background-color: #000;
  color: #fff;
  opacity: .6;
}
.group_blood:before {
	content: '';
	position: absolute;
	background: linear-gradient(180deg,#f00,#000);
}
.detail {
	position: absolute;
	bottom: -60px;
	left: 0;
	z-index: -1;
	display: flex;
	width: 100%;
	margin: auto;
	padding: 0;
	color: #444;
	text-decoration: none;
	text-align: center;
	opacity: 1;
}
.group_blood:hover {
  box-shadow: 0 25px 30px rgba(0,0,0,.5);
  transform: scale(1.11);
}
.group_blood:hover .detail {
	position: absolute;
	background: rgba(255,255,255, 0.96);
	color: #d9073d;
	z-index: 1;
	bottom: 35px;
	margin: auto;
	display: grid;
	align-items: center;
	justify-content: center;
	font-weight: bold;
	font-size: 1.7em;
	text-align: center;
	top: 0;	
	left: 0;
}

/*********************************************************************************************/
/********************************************************************************************/
/*******************************************************************************************/


.donors > table{
    width: 105%;
}

table {
    border-collapse: collapse;
    margin-top: 35px;
}
table.list{
    width:100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left; 
    padding: 8px;
    /*width: 10%;*/
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
    /*width: 150%;*/
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: #0000ee;
    margin-right: 4px;
}

label.validation-error{
    color:   red;
    margin-left: 5px;
}

.hide{
    display:none;
}

/***********************************************/

#btn {
	cursor: pointer;
	position: relative;
	/*transform: translate(-20%,-5%);*/
	width: 200px;
	padding: 5px 10px;
    margin: 8px 0;
	font-size: 1em;
	color: #000;
	background: linear-gradient(to right, #ff0157, #fff);
	display: block;
	text-transform: capitalize;
	text-decoration: none;
	text-align: center;
	letter-spacing: 2px;
	border-radius: 70px;
	border: none;
}
#btn:hover{
	background: #7b8d8f;
}
#btn span {
	font-weight: bolder;
}
/********************************************/
select,.bloodGroup {
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
  margin: 8px 0;
  /*transition: all 0.3s ease;*/
}
select,.form-control {
	width: 27%;
	outline: none;
	border: 1px solid #d5dbd9;
	font-size: 13px;
	padding: 5px 8px;
	border-radius: 3px;
    margin: 10px 0;
	/*transition: all 0.3s ease;*/
}

/********************************************/


header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 40px 100px;
	z-index: 10000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	transition: 0.5s;
}
header.sticky
{
	background: #fff;
	padding: 10px 100px;
	box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}
header .logo
{
	color: #fff;
	font-weight: 700;
	font-size: 2em;
	text-decoration: none;
}
header.sticky .logo
{
	color: #111;
}
header .logo span
{
	color: #ff0157;
}
header .navigation
{
	position: relative;
	display: flex;
	margin-right: 65px;
}
header .navigation li
{
	list-style: none;
	margin-left: 30px;
}
header .navigation li a
{
	text-decoration: none;
	color: #fff;
	font-weight: 300;
}
header.sticky .navigation li a
{
	color: #111;
}
header .navigation li a:hover
{
	color: #ff0157;
	background-color: white;
}
section
{
	padding: 100px;
}
.titleText
{
	color: #111;
	font-size: 2em;
	font-weight: 300;
}
.titleText span, .title p span
{
	color: #ff0157;
	font-weight: 700;
	font-size: 1.4em;
}
form .titleText
{
	font-size: 1.2em;
}
form label span
{
	color: #ff0157;
}
.title
{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.copyrightText
{
	padding: 8px 40px;
	border-top: 1px solid rgba(0,0,0,0.1);
	text-align: center;
}
.copyrightText p
{
	color: #333;
}
.copyrightText a
{
	color: #ff0157;
	font-weight: 500;
	text-decoration: none;
}


/*************************************************/
@media (max-width: 991px)
{
	header,
	header.sticky
	{
		padding: 10px 20px;
	}
	header .navigation
	{
		display: none;
	}
	header .navigation.active
	{
		width: 100%;
		height: calc(100% - 68px);
		position: fixed;
		top: 68px;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background: #fff;
	}
	header .navigation li{
		margin-left: 0;
	}
	header .navigation li a {
		/*text-decoration: none;*/
		color: #111;
		font-size: 1.6em;
		/*font-weight: 300;*/
	}
	.menuToggle
	{
		position: relative;
		width: 40px;
		height: 40px;
		background: url(menu.png);
		background-size: 30px;
		background-repeat: no-repeat;
		background-position: center;
		cursor: pointer;
	}
	.menuToggle.active
	{
		background: url(close.png);
		background-size: 25px;
		background-repeat: no-repeat;
		background-position: center;
	}
	header.sticky .menuToggle {
		filter: invert(0);
	}
	section {
		padding: 20px;
	}
	.banner .content h2 {
		font-size: 3em;
		color: #fff;
	}
	.row {
		flex-direction: column;
	}
	.row .col50 {
		position: relative;
		width: 100%;
	}
	.row .col50 .imgBx {
		height: 300px;
		margin-top: 20px;
	}
	.menu .content
	{
		margin-top: 20px;
	}
	.menu .content .box
	{
		margin: 10px;
		border: 15px solid #fff;
		box-shadow: 0 5px 35px rgba(0,0,0,0.08);
	}
	.menu .content .box .imgBx
	{
		height: 260px;
	}
	.title {
		text-align: center;
	}
	.titleText {
		font-size: 1.8em;
		line-height: 1.5em;
		margin-bottom: 15px;
		font-weight: 300;
	}
	.temoignage .content .box {
		margin: 10px;
		padding: 20px;
	}
	.contactForm {
		padding: 35px 40px;
		margin-top: 20px;
		margin-bottom: 30px;
	}
}
@media (max-width: 480px)
{
	.banner .content h2
	{
		font-size: 2.2em;
		color: #fff;
	}
}